.c6_h{
    padding-top:10px;
    padding-left:10px;
    padding-right:15px;
    font-weight: bold;
}
.c6_s{
    padding-top:10px;
    padding-left:15px;
    padding-right:15px;
    font-weight: lighter;
}
.c6_b{
    padding-top:10px;
    padding-left:15px;
    padding-right:15px;
}
.c6_b7{
    padding-top:10px;
    padding-left:15px;
    padding-right:15px;
    color:blue;
}